<header class="top-0 z-50 mx-auto max-w-7xl md:sticky md:top-4 relative">
  <nav>
    <div
      class="flex flex-col justify-between rounded-b-lg bg-slate-50 px-4 py-2 md:m-4 md:flex-row md:items-center md:rounded-xl"
    >
      <div class="flex items-center justify-between">
        <a
          href="/"
          aria-label="Homepage"
          class="text-xl font-extrabold tracking-tighter text-slate-900"
          >Members Only</a
        >
      </div>
      <div class="flex items-center justify-between">
        <a
          href="/sign-up"
          aria-label="Login"
          class="text-l font-semibold tracking-tighter text-orange-50 border-2 bg-orange-600 border-orange-900 rounded-lg py-1 px-2 hover:border-slate-200"
          >Sign Up</a
        >
      </div>
    </div>
  </nav>
</header>
