<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/build/tailwind.css" />
  </head>
  <body class="bg-slate-800 text-slate-50 min-h-screen">
    <%- include('header') %>
    <main class="mx-20 mt-4 h-full"><%- include(content) %></main>
  </body>
</html>
